body{
    background-image: linear-gradient(to bottom right, #676278, #676278, #676278);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    font-family: sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.Container{
    width: 90%;
    height: 90%;
    align-items: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    background-color: #2e253b;
}

#header2{
    width: 75%;
    margin-bottom: 15px;
    text-align: center;
}

.Emailbox input, .passwordbox input{
    display: block; 
    border-radius: 5px; 
    height: 50px;
    width: 100%;
    background-color: #514b61;
    border: transparent;
}

.Emailbox label, .passwordbox label {
    display: none;
    font-size: 14px;
    color:rgb(168, 168, 168);
}

input:focus::placeholder {
    color: transparent; 
}
input::placeholder{
    color: rgb(145, 145, 145);
}

.Emailbox{
    padding-bottom: 20px;
    position: relative;
    width: 95%;
}

.passwordbox{
    padding-bottom: 7px;
    position: relative;
    width: 95%;
    margin-bottom: 2%;
}

input{
    padding-left: 10px;
    padding-right: 10px;
    caret-color: white;
    color: rgba(240, 248, 255, 0.726);
}
.Emailbox input:focus + label {
    display: block;
    position: absolute;
    bottom: 80px;
}

.passwordbox input:focus + label{
    display: block;
    position: absolute;
    bottom: 66px;
}

.Emailbox input:focus ,.passwordbox input:focus {
    border-color: rgb(168, 168, 168);
    outline: solid #7668bafd 2px;
}

#Login{
    width: 100%;
    height: 50px;
    color: white;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: #5c4ea2;
    margin-bottom: 10px;
    margin-top: 28px;
}
#Login:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.Loginbox{
    display: flex;
    justify-content: center;
    align-content: center;
}
.signup p{
    display: inline;
    color: rgb(168, 168, 168)
}
.signup a{
    color: #7968ce;
}


#inputBox{
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0 12px 12px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
}


#inputcontainer{
    width: 80%; 
    max-width: 400px; 
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup a:hover{
    color: rgb(93, 93, 150)
}

.intro {
    height: 95%;
    width: 95%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-image: url(images/Image.png);
    background-size: cover;
}

#introcontainer{
    width: 50%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .IntroText{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
.intro P , .intro h3{
    width: 80%;
}
#Logo{
    margin-bottom: 25%;
    color: white;
    font-size: 40px;
    padding-left: 6%;
}
#inp{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputcontainer form{
    width: 100%;
}
.intro .IntroText #Welcome{
    font-size: 30px;
    padding-left: 10%;
    color: white; 
    margin-bottom: 0%;
    text-align: center;
}

.intro .IntroText #text{
    color: white; 
    padding-left: 10.5%;
    font-size: 18px;
    margin-bottom: 29%;
    text-align: center;
}
#last{
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
#last p{
    height: 8px;
    width: 60px;
    border-radius: 3px;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.429);
}
#last p:hover{
    background-color: white;
    position: relative;
    bottom: 1.5px;
    scale: 1.2;
    transition: background-color 0.5s linear;
    box-shadow:  0px 0px 10px 1px #2c2538;;
}
.intro:has(#last > p:hover){
    background-image: url(images/Noise\ &\ Texture.jpg);
    transition: background-image 1s linear;
    
}
.intro:has(#last > p + p:hover){
    background-image: url(images/Image.jpg);
    transition: background-image 1s linear;
}
.intro:has(#last > p + p + p:hover){
    background-image: url(images/Image\ \(1\).jpg);
    transition: background-image 1s linear;
}
#rem{
    width: 15px;
    height: 15px;
}
#checklabel{
    position: relative;
    bottom: 2px;
    display: inline-block;
}
body::-webkit-scrollbar {
    width: 15px;
}
body::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom right, #676278, #676278, #676278);;
}
  
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, #676278, #676278, #676278);;
}