{% load static %}

<!DOCTYPE html>
<html lang = "eng">
<head>
    <meta charset = "UTF-8">
    <title>Admin Homepage</title>
    <link rel="stylesheet" href="{% static 'CSS/adminHomePage.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
<div id="username" data-username="{{ username }}"></div>
<div class ="header1">
    <div class="logocon">
        <a id="Logo" href="{% url 'HomePage' %}"><img src="{% static 'CSS/Images/image-removebg-preview.png' %}" alt=""></a>
    </div>
    <ul id="navbar">
        <li>
            <div id="homeiconContainer">
                <span class="material-symbols-outlined">home</span>
                <a href="{% url  'AdminHomePage'  username %}">Home</a>
            </div>
        </li>
        <li>
            <div id="AddiconContainer">
                <span class="material-symbols-outlined">add</span>
                <a href="{% url 'AddJob' username %}">Add New Job</a>
            </div>
        </li>
        <li>
            <div id="editiconContainer">
                <span class="material-symbols-outlined">edit</span>
                <a href="{% url 'SearchJob' username%}">Edit Job</a>
            </div>
        </li>
    </ul>
    <a id="Logout" href = "{% url 'HomePage' %}"><span class="material-symbols-outlined">logout</span></a>

</div>

<div class = "container">


    <div class = "jobListContainer">
        <h2>Company Jobs</h2>
        <div id="cardContainer">
            <div id = "cards"></div>
        </div>
    </div>
</div>
<script src="{% static 'JS/adminHome.js' %}?v=2"></script>
</body>
</html>