{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'CSS/userProfile.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <script src="https://kit.fontawesome.com/e882ac110d.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="username" data-username="{{ username }}" style="margin: 0px"></div>
<div class ="header1">
    <div class="logocon">
        <a id="Logo" href="/"><img src="{% static 'CSS/Images/image-removebg-preview.png' %}" alt=""></a>
    </div>
    <ul id="navbar">
        <li>
            <div id="homeiconContainer">
                <span class="material-symbols-outlined">home</span>
                <a href="{% url  'UserHomePage'  username %}">Home</a>
            </div>
        </li>
        <li>
            <div id="searchiconContainer">
                <span class="material-symbols-outlined">search</span>
                <a href="{% url  'Search'  username %}">Search</a>
            </div>
        </li>
        <li>
            <div id="profileiconContainer">
                <span class="material-symbols-outlined">person</span>
                <a href="{% url  'Profile'  username %}">Profile</a>
            </div>
        </li>
    </ul>
    <a id="Logout" href = "/"><span class="material-symbols-outlined">logout</span></a>

</div>

<div class="container">
    <div class="container-content">
        <div class="head"></div>
        <button id="edit-background-btn">
            <span class="material-symbols-outlined" id="background-btn">photo_camera</span>
        </button>
        <div class="dropdown-content" id="dropdownMenu">
            <label for="fileInput">📤 Change Photo</label>
            <button id="delete-btn">🗑️ Delete Photo</button>
            <input type="file" id="fileInput" accept="image/*" style="display: none;">
        </div>


        <div class="secondPart">
            <div class="center_col">
                <div class="imgContainer">
                    <img src="" alt="profile image" id="imgPro">
                </div>
                <h2 id="myName" style="margin-top: 80px; font-weight: 600; font-size: 22px; margin-bottom: 15px;"></h2>
                <p class="details" id="job"></p>
                <p class="details" id="email"></p>
                <p id="About"></p>
            </div>
            <button id="edit-btn"><span class="material-symbols-outlined">edit</span></button>
        </div>
    </div>
</div>

<div id="profileModal" class="pictureProfileModal">
    <div class="modal-content">
        <div class="pictureProfileModal-header">
            <h2>Profile photo</h2>
            <span class="close">&times;</span>
        </div>

        <div class="pictureProfileModal-body">
            <img src="" alt="Profile" class="profile-image" id="profile-image"/>
        </div>

        <div class="pictureProfileModal-footer">
            <div class="left-btn">
                <label for="profileInput" class="change-btn"><i class="fa fa-camera"></i> Change </label>
                <input type="file" class="change-btn" id="profileInput" accept="image/*" style="display: none;">
            </div>
            <div class="right-btn">
                <button class="delete-btn" id="deleteProPic-btn"><i class="fa fa-trash"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" id="modalOverlay">
    <div class="modal">
        <div class="modal-header">
            <span class="close-btn" id="closeModalBtn">&times;</span>
            <h2 style="color: white; padding: 10px">Edit intro</h2>
        </div>
        <div class="modal-body">
            <div class="required-note">* Indicates required</div>
                <form method="post" id="editForm">              <!--I should give the inputs values-->
                {% csrf_token %}
                <label for="userName" >User Name*</label>
                <input type="text" id="userName" name="userName" required readonly>

                <label for="Email" >Email*</label>
                <input type="email" id="Email" name="email" required readonly>

                <label for="jobTitle" >Job Title</label>
                <input type="text" id="jobTitle" name="jobTitle">

                <label for="phone">phone number</label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{11}">

                <label for="about">About</label>
                <textarea name="about" id="about" style="resize: none; height: 150px; font-size: 16px; padding: 10px;"></textarea>
            </form>
        </div>

        <div class="modal-footer">
            <button id="saveBtn" class="save-btn">Save</button>
        </div>
    </div>
</div>


<script src="{% static 'JS/userProfile.js' %}?v=3"></script>
</body>
</html>