{% load static %}

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Add Job</title>
    <link rel="stylesheet" href="{% static 'CSS/adminAddJob.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <div id="id" data-job_id="{{ job_id }}"></div>
<div class ="header1">
    <div class="logocon">
        <a id="Logo" href="/"><img src="{% static 'CSS/Images/image-removebg-preview.png' %}" alt=""></a>
    </div>
    <ul id="navbar">
        <li>
            <div id="homeiconContainer">
                <span class="material-symbols-outlined">home</span>
                <a id='home' href="/AdminHomePage">Home</a>
            </div>
        </li>
        <li>
            <div id="AddiconContainer">
                <span class="material-symbols-outlined">add</span>
                <a id="addjob" href="/AddJob">Add New Job</a>
            </div>
        </li>
        <li>
            <div id="editiconContainer">
                <span class="material-symbols-outlined">edit</span>
                <a id="editjob" href="/EditJob">Edit Job</a>
            </div>
        </li>
    </ul>
    <a id="Logout" href = "/"><span class="material-symbols-outlined">logout</span></a>

</div>

<div id="masterContainer">

    <div class = "jobFormContainer">

        <div id="formText">
            <h2>Edit Current Job</h2>
            <p>Here you can edit your job details, update information, and make changes</p>
        </div>

        <form method="post" id = 'form'>
            {% csrf_token %}
            <div id = "jobCompanyContainer">
                <input type="text" readonly name = "jobCompany" id="jobCompany" placeholder="Job Company">
                <label for="jobCompany">Job Company</label>
            </div>

            <div id = "jobIDContainer">
                <input type="text" readonly name="jobID" id = "jobID" placeholder="Job ID">
                <label for="jobID">Job ID</label>
            </div>

            <div id = "jobTitleContainer">
                <input type="text" required name="jobTitle" id = "jobTitle" placeholder="Job Title">
                <label for="jobTitle">Job Title</label>
            </div>

            <div id = "jobSalaryExp">
                <div>
                    <input type = "text" required min = "0" name = "jobSalary" id = "jobSalary" placeholder="Job Salary">
                    <label for="jobSalary">Job Salary</label>
                </div>
                <div>
                    <input type="text" required min="0" name="jobExperience" id = "jobExperience" placeholder="Years of Experience">
                    <label for="jobExperience">Years of Experience</label>
                </div>
            </div>

            <div id = "jobDescriptionContainer">
                <textarea rows="5" cols="30" name="jobDescription" id="jobDescription" maxlength="1050" required placeholder="Job Description"></textarea>
                <label for="jobDescription">Job Description</label>
            </div>

            <div id = "jobStatusContainer">
                <pre>Job Status:</pre>
                <div id= "OC">
                    <div>
                        <input type="radio" required name="jobStatus" id = "jobStatusOpen" value="Open">
                        <label for="jobStatusOpen">Open</label>
                    </div>
                    <div>
                        <input type="radio" required name="jobStatus" id = "jobStatusClosed" value="Closed">
                        <label for="jobStatusClosed">Closed</label>
                    </div>
                </div>
            </div>


            <input type="submit" value="Submit" id="submit" >

        </form>
    </div>
</div>
<script src="{% static 'JS/editJob.js' %}?v=7"></script>
</body>
</html>