{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/homepage.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <div class="Container">

        <div id ="introcontainer">
            <div class="intro">
                <div class="IntroText">
                    <div id="logobtn">
                        <h3 id="Logo"><img style="width: 140px" src="{% static 'CSS/Images/image-removebg-preview.png' %}"></h3>
                        <a href="/">Back to Website<span style="color: rgb(169, 169, 169);" class="material-symbols-outlined">keyboard_backspace</span></a>
                    </div>
                        <p id="Welcome">Welcome to Jobify</p>
                    <P id="text">Discover exciting job opportunities and connect with top employers. Join us today and take the next step in your career journey!</P>
                </div>
            </div>
        </div>


        <div id="inputBox">

            <div id="inp">

                <div id="header2">
                    <h1 style="color: white; font-size: 50px;">Login</h1>
                    <P style="color: rgb(168, 168, 168);">Welcome! Login to find amazing opportunities in our website</P>
                </div>

            
                    <div id="inputcontainer">


                        <form id ="formInputs">
                            {% csrf_token %}
                            <div class="Emailbox">
                                
                                <input type="email" id="Email" name="email" required placeholder="Email">
                                <label for="Email" >Email</label>
                            </div>

                            <br>

                            <div class="passwordbox">
                                
                                <input type="password" id="password" name="password" autocomplete="Ahmed" required minlength="9" maxlength="20" placeholder="Password">
                                <label for="password">Password</label>
                            </div>


                            <div class="Loginbox">
                                <button type="submit" id="Login">Login</button>
                            </div>
                            <p id = 'message'></p>

                        </form>

                        <br>

                        <div class="signup">
                            <p>No account?</p>
                            <a href="{% url 'Signup' %}">Sign up</a>
                        </div>


                    </div>
            </div>
                
        </div>

        

    </div>
    <script src="{% static 'JS/Login.js' %}?v=2"></script>
</body>
</html>
