@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Lilita+One&family=PT+Sans+Narrow:wght@400;700&family=Passion+One:wght@400;700;900&family=Ubuntu:ital@1&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-image: linear-gradient(to bottom right, #676278, #676278, #676278);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    font-family: sans-serif;
}
.Container{
    width: 90%;
    height: 90%;
    border-radius: 50px 50px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    background-color: #2e253b;
}
#contentSection{
    width: 60%;
    height: 100%;
}
#imageSection{
    width: 40%;
    margin: 0 auto;
}

#imageSection img{
    width: 100%;
    height: 100%;
    border-radius: 0 50px 50px 0;
}
#formSection{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pageH{
    padding: 20px 0 0 30px;
    display: flex;
    flex-direction: row;
}
#pageH a{
    text-decoration: none;
    color: black;
    font-size: 28px;
}

#pageH #logo{
    height: 20px;
    width: 20px;
}
#inputs{
    height: 90%;
    width: 60%;
    border-radius: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#emailBox input, #passwordBox input, #usernameBox input, #companyNameBox input, #cPasswordBox input{
    width: 250px;
    display: block; 
    border: solid 1px ;
    border-radius: 5px; 
    height: 50px;
    outline: none;
    background-color: #514b61;
    border: transparent;
}
#emailBox label, #passwordBox label, #usernameBox label, #companyNameBox label, #cPasswordBox label {
    display: none;
    font-size: 14px;
    color: rgb(168, 168, 168);
}
input:focus::placeholder {
    color: transparent; 
}
input::placeholder{
    color: rgb(145, 145, 145);
}
#emailBox , #passwordBox, #usernameBox{
    padding-bottom: 28px;
    position: relative;
}
#cPasswordBox{
    position: relative;
    padding-bottom: 13px;

}
#companyNameBox{
    padding-bottom: 8px;
    padding-top: 10px;
    position: relative;

}
#emailBox input:focus + label, #passwordBox input:focus + label, #usernameBox input:focus + label{
    display: block;
    position: absolute;
    bottom: 84px;
    color: rgb(168, 168, 168);
}
#cPasswordBox input:focus + label{
    display: block;
    position: absolute;
    bottom: 71px;
    color: rgb(168, 168, 168);
}
#companyNameBox input:focus + label{
    display: block;
    position: absolute;
    bottom: 66px;
    color: rgb(168, 168, 168);
}

#emailBox input:focus , #passwordBox input:focus , #cPasswordBox input:focus , #usernameBox input:focus{
    border-color: rgb(168, 168, 168);
    outline: solid #7668bafd 2px;
}
#companyNameBox input:focus {
    border-color: rgb(168, 168, 168);
    outline: solid #7668bafd 2px;
}

#header2{
    margin-bottom: 3%;
    width: 80%;
    text-align: center;
    padding-right: 15%;
}
#header2 h1{
    margin-bottom: 0px;
}

input{
    padding-left: 10px;
    padding-right: 10px;
    caret-color: white;
    color: rgba(240, 248, 255, 0.726);
}
.buttonsub #Sub{
    width: 84%;
    height: 50px;
    color: white;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: #5c4ea2;
    margin-bottom: 10px;
    margin-top: 12px;
}
.buttonsub #Sub:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
#inputBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 0 12px 12px 0;
}
#introcontainer{
    width: 50%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    border-radius: 12px;
    background-image: url('Images/Image.png');
    animation: backG 10s linear infinite alternate;
    background-size: cover;
    box-shadow: 0px 0px 10px #514167b3;
}
@keyframes backG {
    0%{
        background-image: url('Images/Image (1).jpg');
    }
    25%{
        background-image: url('Images/Noise & Texture.jpg');
    }
    50%{
        background-image: url('Images/Image.jpg');
    }
    75%{
        background-image: url('Images/66.jpg');
    }
    100%{
        background-image: url('Images/Image.png');
    }
}
.imgbox .IntroText{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
.imgbox P , .imgbox h3{
    width: 80%;
}
#logobtn{
    margin-bottom: 20%;
    display: flex;

}
#logobtn a{
    background-color: rgba(91, 90, 90, 0.366);
    text-decoration: none;
    color: white;
    margin-top: 8.8%;
    box-sizing: border-box;
    border-radius: 18px;
    text-align: center;
    width: 31%;
    height: 28%;
    transition: box-shadow 0.3s ease-out;
}
#logobtn a span{
    position: relative;
    top: 17.5%;
    left: 4%;
}
#logobtn a:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: relative;
    bottom: 2px;
}
#Logo{
    color: white;
    font-size: 40px;
    margin-left: 2.5%;
    width: 65%;
}
#inp{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputcontainer form{
    width: 100%;
}
.imgbox .IntroText #Welcome{
    font-size: 34px;
    padding-left: 10%;
    color: white; 
    margin-bottom: 0%;
    text-align: center;
}

.imgbox .IntroText #text{
    color: white; 
    padding-left: 10.5%;
    font-size: 20px;
    font-family: "PT Sans Narrow", sans-serif;
    margin-bottom: 29%;
    width: 78%;
    text-align: center;
}
#inp{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

#inputcontainer form{
    width: 100%;
    }

#inputcontainer {
    width: 80%;
}
#inputcontainer input{
    width: 80%;
}

#inputcontainer form input[type="checkbox"]{
    width: 3%;
}

#companyNameBox {
    display: none; 
}
#cbox{
    width: 20px;
    height: 20px;
}
#cbox + label{
    position: relative;
    bottom: 4.5px;
    display: inline-block;
    font-size: 17px;
}
body::-webkit-scrollbar {
    width: 15px;
}
body::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom right, #676278, #676278, #676278);;
}
  
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, #676278, #676278, #676278);;
}