body{
    background-image: linear-gradient(to bottom right,rgba(5, 49, 74, 0.822) ,rgb(14, 127, 172) ,transparent);
    height: 100vh;
}

label{
    text-align: center;
    display: block;
}

*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header1{
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 0 15px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

#Logo{
    width: fit-content;
    text-decoration: none;
    color: white;
    font-size: xx-large;
}
.logocon{
    width: 15%;
}

#navbar {
width: 50%;
background-color: rgb(255, 255, 255, 0.200);
border-radius: 15px;
display: flex;
align-items: center;
justify-content: space-evenly;
}

#Logout{
    padding-top: 5px;
    text-align: center;
    width: 8%;
    background-color: rgba(19, 10, 10, 0.292);
    border-radius: 15px;
    font-size: 20px;
    margin-left: 5%;
}

#navbar li{
    display: inline;
    justify-content: space-evenly;
    font-size: x-large;
}



.jobFormContainer{
    width: 725px;
    height: 700px;
    margin: auto;
}

.jobFormContainer div{
    margin-bottom: 30px;
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    height: 65px;
    align-items: center;
    border: 3px solid #A7C7E7;
    padding: 10px;
    justify-content: center;
    border-radius: 15px;
    gap: 5px;

}

#jobStatusContainer{
    flex-direction: row;
    gap: 5px;
}

#jobTitleContainer, #jobCompanyContainer, #jobExperianceContainer{
    margin-right: 0;
    float: right;
}

#jobDescriptionContainer{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: fit-content;
    width: fit-content;

}

textarea{
    resize: none;
    width: 600px;
    height: 90px;
}

input{
    width: 200px;
}

#jobStatusOpen, #jobStatusClosed{
    width: 10px;
}

#submit{
    display: block;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: palevioletred;
    margin: auto;
}