body{
    background-image: linear-gradient(rgba(96, 132, 187, 0.479), rgba(194, 199, 241, 0.213)), url(Background.jpg);
}

.container{
    margin: 20px 0 0 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

*{
    font-family: sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.header1{
    margin-top: 28px;
    padding: 0 15px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 13px 20px 0px rgb(33 44 81 / 30%);
    position: relative;
    z-index: 1;
}

#Logo{
    width: fit-content;
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-weight: 700;
}
#Logo:hover{
    position: relative;
    bottom: 3px;
}
.logocon{
    width: 15%;
}
#navbar {
    width: 50%;
    background-color: rgb(255, 255, 255, 0.200);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#Logout{
    color: white;
    text-decoration: none;
    padding-top: 5px;
    text-align: center;
    width: 6%;
    background-color: rgba(19, 10, 10, 0.292);
    border-radius: 15px;
    font-size: 26px;
    margin-left: 5%;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 24
}

#Logout:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#navbar li{
    display: inline;
    justify-content: space-evenly;
    font-size: x-large;
}

#navbar li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
}

#navbar li:hover{
    position: relative;
    bottom: 3px;
    cursor: pointer;
}

#searchiconContainer{
    margin: 0;
    max-width: 20px;
    max-height: 20px;
    min-width: 5px;
    min-height: 5px;
    padding: 0;
    display: inline-block;
}
#SearchIcon{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    top: 3px;
    left: 3px;
}

/*---------------------------------------------------*/
.container-content{
    background: whitesmoke;
    width: 80%;
    border-radius: 20px;
}

.content ul {
    list-style-type: none;
    gap: 30px;
    padding: 0;
    margin: 25px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content ul{
    font-size: 1.3rem;
}

.content ul a {
    text-decoration: none;
}

.content p{
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8em;
}

.fa-brands.fa-instagram{
    color: #E1306C;
}

#imgPro {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    padding: 5px;
    object-fit: cover;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    background: #fff;
}

.imgContainer{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.center_col{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

.head{
    width: 100%;
    background: url("backgroundProfile.jpg") no-repeat 50% 20% / cover;
    min-height: calc(100px + 15vw);
    border-radius: 20px 20px 0 0;
}

#username{
    margin-top: 80px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
}

.details{
    font-size: 0.9rem;
    color: #818181;
    margin: 6px;
}